/***************************************/
/*			Grid					   */
/***************************************/
.Grid
{
    width: 100%;
    border: 1px solid #E5EEFA !important;
    color: #000080
}
.Grid TH
{
    background-color: #000080;
    border-bottom: 2px solid #cc0000 !important;
    border-top: 1px solid #E5EEFA !important;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    text-align: left;
    padding-right: 8px;
    text-decoration: none;
    color: #ffffff !important;
}
.Grid .Row{background-color: #f7f7f7;}
.Grid .AlternatingRow{background-color: #e7e7ff;}
.Grid .Row TD, .Grid .AlternatingRow TD
{
    border-bottom: 1px solid #CADBE5 !important;
    font-size: 11px;
    padding: 4px;
    padding-left: 5px;
    vertical-align: top;
}

.pager { padding-top:10px; }

.pager label {  margin-top:8px; text-decoration:none; margin-right:5px; color:#656044; float:left;}

.pager a
{
    text-decoration: none;
    color: #000080;
}

.pager li
{
    padding: 3px 5px;
    border: solid 1px #CADBE5;
    text-decoration: none;
    margin-right: 5px;
    float: left;
    display: block;
}

.pager li.selected
{
    border: solid 1px #9CBFD4;
    text-decoration: none;
    color: #fff;
    background-color: #9CBFD4;
    float: left;
}
.pager .totalrecords
{
    float: right;
    margin-top: 0.5em;
    color: #777;
    font-style: italic;
    padding-right: 10px;
}
